<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
    <h1>Hello, World!</h1>
    <form action="hello" method="post">
        <label for="name">Имя:</label>
        <input type="text" name="username" id="name">
        <label for="age">Возраст:</label>
        <input type="number" name="userage" id="age">
        <input type="submit" value="Say Hello">
    </form>

    <h2>Табуляция</h2>
    <form action="tabulation" method="post">
        <label for="a">Start:</label>
        <input type="text" name="start" id="a">
        <label for="b">Finish:</label>
        <input type="text" name="finish" id="b">
        <label for="h">Step:</label>
        <input type="text" name="step" id="h">
        <input type="submit" value="Табуляция">
    </form>
</body>
</html>